* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  background-color: white;
  height: 36px;
  justify-content: space-between;
  padding: 20px 79%;
}

.burgermenu {
  display: flex;
  align-items: center;
  max-height: 100%;
}

.logo {
  max-height: 100%;
}

nav a {
  display: none;
}
