* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  background-color: white;
  height: 36px;
  justify-content: space-between;
  padding: 20px 9%;
}

.burgermenu {
  display: flex;
  align-items: center;
  max-height: 100%;
}

.logo {
  max-height: 100%;
}

nav a {
  display: none;
}

.first {
  background-image: url(./images/mainpics/graphic.svg);
  background-size: 100%;
  background-position-x: 195px;
  background-repeat: no-repeat;
  height: 520px;
  padding: 30px;
}

.first h3 {
  color: #ff3998;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  width: 175px;
  height: 19px;
  top: 148px;
}

.first h1 {
  color: black;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  position: absolute;
  width: 303px;
  height: 116px;
  top: 191px;
}

.first p {
  color: #555555;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  position: absolute;
  width: 274px;
  height: 120px;
  top: 384px;
}

.first button {
  width: 188px;
  height: 75px;
  top: 540px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  background-color: white;
}

.second {
  background-image: url(./images/mainpics/background.svg);
  background-size: 100%;
  background-position-x: 195px;
  background-repeat: no-repeat;
  height: 250px;
  padding: 30px;
}

.second h1 {
  color: black;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  position: absolute;
  width: 364px;
  height: 96px;
  top: 760px;
  display: flex;
  align-items: flex-end;
}

.second p {
  color: #111111;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  position: absolute;
  width: 364px;
  height: 60px;
  top: 872px;
}

.companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  padding: 40px;
}

.companies img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.gallerytext {
  display: flex;
  flex-direction: column;
  height: 180px;
  padding: 30px;
}

.gallerytext h1 {
  color: black;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  position: absolute;
  width: 364px;
  height: 96px;
  top: 1201px;
  display: flex;
  align-items: flex-end;
}

.gallerytext p {
  color: #555555;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  position: absolute;
  width: 364px;
  height: 60px;
  top: 1313px;
}
.gallerycontainer {
  display: flex;
  padding: 30px;
}

.third {
  background-image: url(./images/mainpics/upsell-footer-image.svg);
  background-size: 55%;
  background-position-x: 218px;
  background-position-y: 170px;
  background-repeat: no-repeat;
  height: 680px;
}

.third h3 {
  color: #ff3998;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  width: 175px;
  height: 19px;
  top: 1810px;
  left: 30px;
}

.third h1 {
  color: black;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  position: absolute;
  width: 260px;
  height: 116px;
  top: 1870px;
  left: 30px;
}

.third p {
  color: #555555;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  position: absolute;
  width: 206px;
  height: 120px;
  top: 2070px;
  left: 30px;
}

.third button {
  width: 188px;
  height: 75px;
  top: 2250px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  background-color: white;
  left: 30px;
}

#separator1 {
}

#separator2 {
}
